---
title: Watch
permalink: /watch/
layout: default
excerpt: Watch us in action.
---


<div class='subtron'>
  <div class='container-narrow'>
    <h1>Live in action</h1>
    <p class="lead mb-3">
      Some glimpse from the inside of our labs.
    </p>
  </div>
</div>
<section class='page-section'>
  <div class='container'>
    <ul class="report-list">
	<script>
	var _i = 0;
    {% for thing in site.images.insta %}
      {% for report in thing %}
        {% if report.title %}
          <li>
            <a href="https://www.instagram.com/mBEDedSystems/" class="inner">
              <img src="{{site.baseurl}}/images/insta/_i.jpg">
            </a>
          </li>
		  _i++;
        {% endif %}
      {% endfor %}
    {% endfor %}
	</script>
    </ul>
  </div>
</section>