<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a class="footer-nav-item" href="{{ site.baseurl }}/">mBEDed µSystems</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/when/">When</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/what/">What</a>
	    <a class="footer-nav-item" href="{{ site.baseurl }}/who/">Who</a>
  <!--<a class="footer-nav-item" href="{{ site.baseurl }}/apps/">Why</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/releases/">Which</a>-->
      <a class="footer-nav-item" href="https://github.com/mBEDed/mBEDed.github.io">Repo</a>
    </nav>
    <span class="footer-love">
      <a href='https://github.com' class="no-underline"><span class='octicon octicon-code'></span> with <span class='octicon octicon-heart'></span> by <span class='octicon octicon-logo-github'></span></a>
    </span>
  </div>
</footer>
